/* XXL-Device */
@media (max-width: 1024px) {
    /* About Section */

}

/* XL-Device */
@media (max-width: 991px) {
    /* Custom CSS */
    .text-center{
        width: 100%;
    }

    /* Navbar Brand */
    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-wrap{
        text-align: center; 
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }

    /* Banner Design */
    .slider-sctions{
        padding: 9.375rem 0 9.375rem; 
    }
    /* Testimonial-section */
    .testimonial-section .carousel-item .carousel-caption p{
        padding: 0;
    }
    
}

/* MD-Device */
@media (max-width: 767px) {
     /* Custom CSS */
     h1{
        font-size: 2.8rem;
     }
     h2{
        font-size: 2rem;
        line-height: 2.0625rem;
     }

     /* Top Banner /slider-sctions*/

     .slider-sctions{
        padding: 10.875rem 0 9.375rem;
     }

     .story-section{
        height: auto;
        padding: 3rem 0;
     }
     /* Testimonial-section */
     .testimonial-section .carousel-item{
        padding: 11rem 3.125rem;
    }
    /* Newslettar */
    .newslettar{
        width: 75%;
    }
    .newslettar .main-btn{
        width: 100%;
        margin-top: 1rem;
    }

    /* Footer */
    .footer .footer-line,
    .footer a i{
        padding: 0 0.7rem;
    }
}

/* MS-Device */
@media (max-width: 330px) {
     /* Testimonial-section */
     .testimonial-section .carousel-item{
        padding: 13rem 3.125rem;
    }
}






